<!DOCTYPE html>
<html lang="en" ng-app="mocktailApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<link rel="icon" type="image/x-icon" href="favicon.ico" />
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
		<meta name="description" content="Mocktail Generator">
		<meta name="author" content="Josh Carrier">
		<base target="_blank">
		<meta name="expires" content="0">

		<title>Mocktail Generator</title>
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<style>
			body {
				padding-left: 20px;
				padding-top: 20px;
				padding-right: 20px;
			}

			.img-slotstage {
				width: 140px;
			}

			img.img-slot {
				height: 100px;
			}

			@media (min-width: 768px) {
				h1 {
					font-size: 72px;
				}

				.img-slotstage {
					width: 220px;
				}

				img.img-slot {
					height: 200px;
				}
			}
		</style>

		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>

		<script>
			// Array Remove - By John Resig (MIT Licensed)
			Array.prototype.remove = function(from, to) {
			  var rest = this.slice((to || from) + 1 || this.length);
			  this.length = from < 0 ? this.length + from : from;
			  return this.push.apply(this, rest);
			};

			var mocktailApp = angular.module('mocktailApp', []);

			mocktailApp.service('drinksModel', function() {
				this.availableList = [
					{
						'id': 1,
						'name': 'Coca Cola',
						'flavor': '',
						'img_url': 'assets/images/cocacola.jpg',
						'ngram_start': 'coca',
						'ngram_mid': 'cacol',
						'ngram_end': 'ola',
						'tastes' : [
							{
								'name': 'sweet',
								'value': 2
							},
							{
								'name': 'caramelly',
								'value': 2
							}
						]
					},
					{
						'id': 2,
						'name': 'Dr. Pepper',
						'flavor': '',
						'img_url': 'assets/images/drpepper.jpg',
						'ngram_start': 'dr. ',
						'ngram_mid': 'pepp',
						'ngram_end': 'pepper',
						'tastes' : [
							{
								'name': 'sweet',
								'value': 3
							},
							{
								'name': 'Dr. Peppery',
								'value': 20
							}
						]
					},
					{
						'id': 3,
						'name': 'Fresca',
						'flavor': 'Citrus',
						'img_url': 'assets/images/fresca_citrus.jpg',
						'ngram_start': 'fres',
						'ngram_mid': 'fres',
						'ngram_end': 'esca',
						'tastes' : [
							{
								'name': 'sweet',
								'value': 2
							},
							{
								'name': 'lemony',
								'value': 2
							}
						]
					},
					{
						'id': 4,
						'name': 'Fusion',
						'flavor': 'Lemon Lime',
						'img_url': 'assets/images/talkingrain_natural.jpg',
						'ngram_start': 'lemon',
						'ngram_mid': 'lime',
						'ngram_end': ' lime',
						'tastes' : [
							{
								'name': 'sweet',
								'value': 1
							},
							{
								'name': 'lemony',
								'value': 1
							}
						]
					},
					{
						'id': 5,
						'name': 'Fusion',
						'flavor': 'Pomegranate',
						'img_url': 'assets/images/talkingrain_natural.jpg',
						'ngram_start': 'pom',
						'ngram_mid': 'megran',
						'ngram_end': 'anate',
						'tastes' : [
							{
								'name': 'sweet',
								'value': 1
							},
							{
								'name': 'pomegranatey',
								'value': 1
							}
						]
					},
					{
						'id': 6,
						'name': 'Fuze',
						'flavor': 'Lemon Iced Tea',
						'img_url': 'assets/images/fuze_lemon.jpg',
						'ngram_start': 'iced ',
						'ngram_mid': 'lemon',
						'ngram_end': 'iced tea',
						'tastes' : [
							{
								'name': 'sweet',
								'value': 2
							},
							{
								'name': 'lemony',
								'value': 1
							}
						]
					},
					{
						'id': 7,
						'name': 'Minute Maid',
						'flavor': 'Lemonade',
						'img_url': 'assets/images/minutemaid_lemonade.jpg',
						'ngram_start': 'lemo',
						'ngram_mid': 'lemon',
						'ngram_end': 'ade',
						'tastes' : [
							{
								'name': 'sweet',
								'value': 2
							},
							{
								'name': 'lemony',
								'value': 3
							}
						]
					},
					{
						'id': 8,
						'name': 'Mountain Dew',
						'flavor': '',
						'img_url': 'assets/images/mountaindew.jpg',
						'ngram_start': 'mountain ',
						'ngram_mid': 'mount',
						'ngram_end': ' dew',
						'tastes' : [
							{
								'name': 'sweet',
								'value': 3
							}
						]
					},
					{
						'id': 9,
						'name': 'Mug',
						'flavor': 'Root Beer',
						'img_url': 'assets/images/mug.jpg',
						'ngram_start': 'root ',
						'ngram_mid': 'root',
						'ngram_end': ' beer',
						'tastes' : [
							{
								'name': 'sweet',
								'value': 3
							},
							{
								'name': 'caramelly',
								'value': 5
							}
						]
					},
					{
						'id': 10,
						'name': 'Ocean Spray',
						'flavor': 'Grapefruit',
						'img_url': 'assets/images/oceanspray_grapefruit.jpg',
						'ngram_start': 'grape',
						'ngram_mid': 'apefruit',
						'ngram_end': 'fruit',
						'tastes' : [
							{
								'name': 'sweet',
								'value': 3
							},
							{
								'name': 'grapefruity',
								'value': 3
							}
						]
					},
					{
						'id': 11,
						'name': 'Orange Crush',
						'flavor': '',
						'img_url': 'assets/images/orangecrush.jpg',
						'ngram_start': 'orange ',
						'ngram_mid': 'crush',
						'ngram_end': 'crush',
						'tastes' : [
							{
								'name': 'sweet',
								'value': 3
							},
							{
								'name': 'orangey',
								'value': 20
							}
						]
					},
					{
						'id': 12,
						'name': 'Pepsi',
						'flavor': '',
						'img_url': 'assets/images/pepsi.jpg',
						'ngram_start': 'pep',
						'ngram_mid': 'pep',
						'ngram_end': 'epsi',
						'tastes' : [
							{
								'name': 'sweet',
								'value': 2
							},
							{
								'name': 'caramelly',
								'value': 3
							}
						]
					},
					{
						'id': 13,
						'name': 'Seagram\'s',
						'flavor': 'Ginger Ale',
						'img_url': 'assets/images/seagrams_gingerale.jpg',
						'ngram_start': 'ginger ',
						'ngram_mid': 'ginger',
						'ngram_end': 'inger ale',
						'tastes' : [
							{
								'name': 'sweet',
								'value': 2
							},
							{
								'name': 'gingery',
								'value': 2
							}
						]
					},
					{
						'id': 14,
						'name': 'Sprite',
						'flavor': '',
						'img_url': 'assets/images/sprite.jpg',
						'ngram_start': 'sprite',
						'ngram_mid': 'sprit',
						'ngram_end': 'ite',
						'tastes' : [
							{
								'name': 'sweet',
								'value': 2
							},
							{
								'name': 'bubbly',
								'value': 3
							}
						]
					},
					{
						'id': 15,
						'name': 'Talking Rain',
						'flavor': 'Black Raspberry',
						'img_url': 'assets/images/talkingrain_natural.jpg',
						'ngram_start': 'rasp',
						'ngram_mid': 'raspberr',
						'ngram_end': 'aspberry',
						'tastes' : [
							{
								'name': 'sweet',
								'value': 1
							},
							{
								'name': 'raspberry',
								'value': 1
							}
						]
					},
					{
						'id': 16,
						'name': 'Talking Rain',
						'flavor': 'Lemon Lime',
						'img_url': 'assets/images/talkingrain_lemonlime.jpg',
						'ngram_start': 'lemon ',
						'ngram_mid': 'lem',
						'ngram_end': 'on lime',
						'tastes' : [
							{
								'name': 'sweet',
								'value': 1
							},
							{
								'name': 'lemony',
								'value': 1
							}
						]
					},
					{
						'id': 17,
						'name': 'Talking Rain',
						'flavor': 'Natural',
						'img_url': 'assets/images/talkingrain_natural.jpg',
						'ngram_start': 'natural ',
						'ngram_mid': 'natural',
						'ngram_end': 'ain natural',
						'tastes' : [
							{
								'name': 'sweet',
								'value': 1
							}
						]
					},
					{
						'id': 18,
						'name': 'Talking Rain',
						'flavor': 'Peach Nectarine',
						'img_url': 'assets/images/talkingrain_natural.jpg',
						'ngram_start': 'peach ',
						'ngram_mid': 'peach',
						'ngram_end': 'each nectarine',
						'tastes' : [
							{
								'name': 'sweet',
								'value': 1
							},
							{
								'name': 'peachy',
								'value': 20
							}
						]
					},
					{
						'id': 19,
						'name': 'Talking Rain',
						'flavor': 'Mango Peach',
						'img_url': 'assets/images/talkingrain_natural.jpg',
						'ngram_start': 'mango ',
						'ngram_mid': 'mango',
						'ngram_end': 'ango peach',
						'tastes' : [
							{
								'name': 'sweet',
								'value': 1
							},
							{
								'name': 'peachy',
								'value': 20
							}
						]
					},
					{
						'id': 20,
						'name': 'Welch\'s',
						'flavor': 'Apple Juice',
						'img_url': 'assets/images/welch_apple.jpg',
						'ngram_start': 'apple',
						'ngram_mid': 'app',
						'ngram_end': 'e juice',
						'tastes' : [
							{
								'name': 'sweet',
								'value': 3
							},
							{
								'name': 'appley',
								'value': 3
							}
						]
					},
					{
						'id': 21,
						'name': 'Welch\'s',
						'flavor': 'Cranberry Juice',
						'img_url': 'assets/images/welch_cranberry.jpg',
						'ngram_start': 'cran',
						'ngram_mid': 'cran',
						'ngram_end': 'berry',
						'tastes' : [
							{
								'name': 'sweet',
								'value': 3
							},
							{
								'name': 'cranberry',
								'value': 3
							}
						]
					},
					{
						'id': 22,
						'name': 'Welch\'s',
						'flavor': 'Grape Juice',
						'img_url': 'assets/images/welch_grape.jpg',
						'ngram_start': 'grape',
						'ngram_mid': 'grape',
						'ngram_end': 'ape juice',
						'tastes' : [
							{
								'name': 'sweet',
								'value': 3
							},
							{
								'name': 'grapey',
								'value': 3
							}
						]
					},
					{
						'id': 23,
						'name': 'Welch\'s',
						'flavor': 'Orange Juice',
						'img_url': 'assets/images/welch_orange.jpg',
						'ngram_start': 'orange',
						'ngram_mid': 'orange',
						'ngram_end': 'ange juice',
						'tastes' : [
							{
								'name': 'sweet',
								'value': 3
							},
							{
								'name': 'orangey',
								'value': 3
							}
						]
					}
				];

				this.push = function(drink) {
					if (drink == null) { return; }
					this.availableList.push(drink);
				};

				this.popById = function(id) {
					if (id == '') { return null; }

					// TODO fix horribly inefficiency for large number of options
					for (var i = 0; i < this.availableList.length; i++) {
						if (this.availableList[i].id == id) {
							return this.availableList[i];
						}
					};

					return null;
				};

				this.popRandom = function() {
					if(this.availableList.length == 0) { return null; }

					this.availableList.reverse();
					this.availableList.sort(function() {
						return Math.floor(Math.random() * 0.5); // bogosort
					});

					var randomIndex = Math.floor(Math.random() * (this.availableList.length));
					var randomOption = this.availableList[randomIndex];
					this.availableList.remove(randomIndex);
					return randomOption;
				};
			});

			mocktailApp.service('mocktailModel', function() {
				this.drinksList = [];

				var available_name_prefixes = [
					'diet',
					' \'oh yeah!\'',
					'sparkling'
				];

				var available_name_postfixes = [
					'baja blast',
					'code red',
					'max',
					'punch',
					'twist',
					'zero'
				];

				this.update = function update() {
					var slotCount = this.drinksList.length;
					var name = "";

					if (Math.random() < 0.08) {
						name += available_name_prefixes[Math.floor((Math.random() * available_name_prefixes.length))] + " ";
					}

					var shareBody = "";
					var formula = "";
					var totalTastes = [];
					for (var i = 0; i < slotCount; i++) {
						if (i == 0) {
							name += this.drinksList[i].ngram_start;
						}
						else if (i == slotCount-1) {
							name += this.drinksList[i].ngram_end;
						}
						else {
							name += this.drinksList[i].ngram_mid;
						}

						for (var j = 0; j < this.drinksList[i].tastes.length; j++) {
							var taste = this.drinksList[i].tastes[j];

							if (totalTastes[taste.name] == null) {
								totalTastes[taste.name] = 0;
							}

							totalTastes[taste.name] += taste.value;
						}

						shareBody += this.drinksList[i].name + " " + this.drinksList[i].flavor + ", %0D";
						formula += this.drinksList[i].id + ",";
					}

					if (Math.random() < 0.2) {
						name += " " + available_name_postfixes[Math.floor((Math.random() * available_name_postfixes.length))];
					}

					var tastes = [];
					var totalTasteKeys = Object.keys(totalTastes);
					for (var i = 0; i < totalTasteKeys.length; i++) {
						var tasteName = totalTasteKeys[i];
						tastes.push({ 'name': tasteName, 'value': totalTastes[tasteName] / this.drinksList.length});
					}

					tastes.sort(function(a,b) { return a.value < b.value } );

					var baseUrl = document.URL.split('?')[0];
					var share = "mailto:?subject=Mocktail " + this.drinksList.length + "000: " + name + "&body=" + name + ".%0D%0D" + shareBody + "%0D%0D" + baseUrl + "?f=" + formula;

					this.name = name;
					this.share = share;
					this.tastes = tastes;
				};

				this.pushDrink = function(drink) {
					if (drink == null) { return; }
					this.drinksList.push(drink);
					this.update();
				};

				this.popDrink = function() {
					if(this.drinksList.length == 0) { return null; }
					var drink = this.drinksList.pop();
					this.update();
					return drink;
				};
			});

			mocktailApp.controller('SlotsCtrl', ['$scope', 'drinksModel', 'mocktailModel', function ($scope, drinksModel, mocktailModel) {

				$scope.formatTaste = function(name, value) {
					if (value <= 1.3) {
						return "A little " + name;
					}
					else if (value <= 2.3) {
						return "Quite " + name;
					}
					else if (value <= 3.3) {
						return "Very " + name;
					}

					return "Extremely " + name;
				}

				function addSlot() {
					var drink = drinksModel.popRandom();
					mocktailModel.pushDrink(drink);
				};

				function removeSlot() {
					var drink = mocktailModel.popDrink();
					drinksModel.push(drink);
				};

				$scope.addSlot = function() {
					if(drinksModel.availableList.length == 0) { return; }
					addSlot();
					$scope.resetSlots();
				};

				$scope.removeSlot = function() {
					if(mocktailModel.drinksList.length == 1) { return; }
					removeSlot();
					$scope.resetSlots();
				};

				$scope.resetSlots = function() {
					var slotCount = mocktailModel.drinksList.length;
					for (var i = 0; i < slotCount; i++)
					{
						removeSlot();
					}

					for (var i = 0; i < slotCount; i++)
					{
						addSlot();
					}
				};

				function init(scope) {
					function getParameterByName(name) {
						var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
						return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
					}

					var formulaCsv = getParameterByName("f");
					var drinkIdList = [];
					if (formulaCsv) { drinkIdList = formulaCsv.split(','); }

					scope.parameters = {
						'kiosk': getParameterByName("kiosk") == 'true',
						'drinkIdList': drinkIdList
					};
					scope.mocktail = mocktailModel;
					scope.kioskmode = $scope.parameters.kiosk;

					function tryRestoreSlots() {
						var drinkIdList = scope.parameters.drinkIdList;
						if (drinkIdList.length == 0) { return false; }

						for (var i = 0; i < drinkIdList.length; i++) {
							if (drinkIdList[i] == '') { continue; }

							var drink = drinksModel.popById(drinkIdList[i]);

							if(drink == null) { return false; }
							mocktailModel.pushDrink(drink);
						}

						return true;
					}

					if (!tryRestoreSlots()) {
						scope.addSlot();
						scope.addSlot();
						scope.addSlot();
					}
				};

				init($scope);
			}]);
		</script>

		<script src="http://ajax.aspnetcdn.com/ajax/bootstrap/3.1.1/bootstrap.min.js"></script>
	</head>
	<body ng-controller="SlotsCtrl">
		<div>
			<center>
				<img src="assets/images/crunk_berry.jpg" height="220">
				<h1>MOCKTAIL {{mocktail.drinksList.length}}000</h1>

				<div ng-hide="{{kioskmode}}">
					<br />
					<button type="button" class="btn btn-default btn-success btn-lg" ng-click="addSlot()" style="margin-bottom: 4px">SLOTS SLOTS SLOTS EVERYBODY &uarr;</button>
					<button type="button" class="btn btn-default btn-danger btn-lg" ng-click="removeSlot()" style="margin-bottom: 4px">TURN DOWN FOR WHAT &darr;</button>
					<br />
					<br />
					<button type="button" class="btn btn-default btn-primary btn-lg" ng-click="resetSlots()">&diams;&diams;&diams; YEAH! WHAT? OKAY &diams;&diams;&diams;</button>
					<br />
					<br />
				</div>

				<h2 style="text-transform:uppercase;word-wrap:break-word;">&quot;{{mocktail.name}}&quot;</h2>
				<i>
					<span ng-repeat="taste in mocktail.tastes | limitTo: 3">
						{{formatTaste(taste.name, taste.value)}}<span ng-hide="$last">, </span>
					</span>
				</i>
				<br />
				<br />
			</center>

			<div class="row">
				<div class="col-xs-12 col-sm-6 col-lg-4" ng-repeat="drink in mocktail.drinksList">
					<div class="row" style="border-top: 1px solid #ddd">
						<table>
							<tr>
								<td align="center" class="img-slotstage" style="padding: 10px">
									<img ng-src="{{drink.img_url}}" alt="{{drink.name}}" class="img-slot">
								</td>
								<td valign="top">
									<h3><b>{{drink.name}}</b> {{drink.flavor}}</h3>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>

			<center>
				<div ng-hide="{{kioskmode}}">
					<br />
					<a ng-href="{{mocktail.share}}" class="btn btn-default btn-lg">&hearts;&hearts;&hearts; COME GET SOME &hearts;&hearts;&hearts;</a>
				</div>
				<br />
				<img src="assets/images/qr.png" alt="QR code" width="300">
				<div ng-show="{{kioskmode}}">
					<small>KIOSK MODE <a href="?" target="_self">ENABLED</a></small>
				</div>
			</center>
		</div>

		<footer style="width: 100%;">
			<div class="pull-left" style="background-color: #FFFFFF">
				&copy; 2014 <a href="http://joshjcarrier.com">Josh Carrier</a>. Fork on <a href="https://github.com/joshjcarrier/mocktail">GitHub</a>.
				<small>Lil Jon and product images copyright their respective owners. Made possible with <a href="http://angularjs.org/">AngularJS</a> and <a href="http://getbootstrap.com/">Bootstrap</a> &middot; <a href="license-ext.txt">Open source licenses</a>.</small>
			</div>
		</footer>
	</body>
</html>
