<!DOCTYPE html>
<html lang="en" ng-app="mocktailApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<link rel="icon" type="image/x-icon" href="favicon.ico" />
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
		<meta name="description" content="Mocktail Generator">
		<meta name="author" content="Josh Carrier">
		<base target="_blank">
		<meta name="expires" content="0">
		
		<title>Mocktail Generator</title>
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<style>
			body {
				padding-left: 20px;
				padding-top: 20px;				
				padding-right: 20px;
			}
			
			img.img-slot {
				height: 100px;
			}
			
			@media (min-width: 768px) {
				h1 {
					font-size: 72px;
				}
				
				img.img-slot {
					height: 200px;
				}
			}
		</style>
				
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
		
		<script>
			// Array Remove - By John Resig (MIT Licensed)
			Array.prototype.remove = function(from, to) {
			  var rest = this.slice((to || from) + 1 || this.length);
			  this.length = from < 0 ? this.length + from : from;
			  return this.push.apply(this, rest);
			};
			
			function bogoSort()
			{
				return Math.floor(Math.random() * 0.5); 
			}
			
			var mocktailApp = angular.module('mocktailApp', []);
			 
			mocktailApp.controller('SlotsCtrl', function ($scope) {
				var available_options = [
					{
						'id': 1,
						'name': 'Coca Cola',
						'flavor': '',
						'img_url': 'assets/images/cocacola.jpg',
						'ngram_start': 'coca',
						'ngram_mid': 'cacol',
						'ngram_end': 'ola',
						'sweetness': 2
					},
					{
						'id': 2,
						'name': 'Dr. Pepper',
						'flavor': '',
						'img_url': 'assets/images/drpepper.jpg',
						'ngram_start': 'dr. ',
						'ngram_mid': 'pepp',
						'ngram_end': 'pepper',
						'sweetness': 3
					},
					{
						'id': 3,
						'name': 'Fresca',
						'flavor': 'Citrus',
						'img_url': 'assets/images/fresca_citrus.jpg',
						'ngram_start': 'fres',
						'ngram_mid': 'fres',
						'ngram_end': 'esca',
						'sweetness': 2
					},
					{
						'id': 4,
						'name': 'Fusion',
						'flavor': 'Lemon Lime',
						'img_url': 'assets/images/talkingrain_natural.jpg',
						'ngram_start': 'lemon',
						'ngram_mid': 'lime',
						'ngram_end': ' lime',
						'sweetness': 1
					},
					{
						'id': 5,
						'name': 'Fusion',
						'flavor': 'Pomegranate',
						'img_url': 'assets/images/talkingrain_natural.jpg',
						'ngram_start': 'pom',
						'ngram_mid': 'megran',
						'ngram_end': 'anate',
						'sweetness': 1
					},
					{
						'id': 6,
						'name': 'Fuze',
						'flavor': 'Lemon Iced Tea',
						'img_url': 'assets/images/fuze_lemon.jpg',
						'ngram_start': 'iced ',
						'ngram_mid': 'lemon',
						'ngram_end': 'iced tea',
						'sweetness': 2
					},
					{
						'id': 7,
						'name': 'Minute Maid',
						'flavor': 'Lemonade',
						'img_url': 'assets/images/minutemaid_lemonade.jpg',
						'ngram_start': 'lemo',
						'ngram_mid': 'lemon',
						'ngram_end': 'ade',
						'sweetness': 2
					},
					{
						'id': 8,
						'name': 'Mountain Dew',
						'flavor': '',
						'img_url': 'assets/images/mountaindew.jpg',
						'ngram_start': 'mountain ',
						'ngram_mid': 'mount',
						'ngram_end': ' dew',
						'sweetness': 3
					},
					{
						'id': 9,
						'name': 'Mug',
						'flavor': 'Root Beer',
						'img_url': 'assets/images/mug.jpg',
						'ngram_start': 'root ',
						'ngram_mid': 'root',
						'ngram_end': ' beer',
						'sweetness': 3
					},
					{
						'id': 10,
						'name': 'Ocean Spray',
						'flavor': 'Grapefruit',
						'img_url': 'assets/images/oceanspray_grapefruit.jpg',
						'ngram_start': 'grape',
						'ngram_mid': 'apefruit',
						'ngram_end': 'fruit',
						'sweetness': 3
					},										
					{
						'id': 11,
						'name': 'Orange Crush',
						'flavor': '',
						'img_url': 'assets/images/orangecrush.jpg',
						'ngram_start': 'orange ',
						'ngram_mid': 'crush',
						'ngram_end': 'crush',
						'sweetness': 3
					},
					{
						'id': 12,
						'name': 'Pepsi',
						'flavor': '',
						'img_url': 'assets/images/pepsi.jpg',
						'ngram_start': 'pep',
						'ngram_mid': 'pep',
						'ngram_end': 'epsi',
						'sweetness': 2
					},
					{
						'id': 13,
						'name': 'Seagram\'s Ginger Ale',
						'flavor': 'Ginger Ale',
						'img_url': 'assets/images/seagrams_gingerale.jpg',
						'ngram_start': 'ginger ',
						'ngram_mid': 'ginger',
						'ngram_end': 'inger ale',
						'sweetness': 2
					},
					{
						'id': 14,
						'name': 'Sprite',
						'flavor': '',
						'img_url': 'assets/images/sprite.jpg',
						'ngram_start': 'sprite',
						'ngram_mid': 'sprit',
						'ngram_end': 'ite',
						'sweetness': 2
					},
					{
						'id': 15,
						'name': 'Talking Rain',
						'flavor': 'Black Raspberry',
						'img_url': 'assets/images/talkingrain_natural.jpg',
						'ngram_start': 'rasp',
						'ngram_mid': 'raspberr',
						'ngram_end': 'aspberry',
						'sweetness': 1
					},
					{
						'id': 16,
						'name': 'Talking Rain',
						'flavor': 'Lemon Lime',
						'img_url': 'assets/images/talkingrain_lemonlime.jpg',
						'ngram_start': 'lemon ',
						'ngram_mid': 'lem',
						'ngram_end': 'on lime',
						'sweetness': 1,
					},
					{
						'id': 17,
						'name': 'Talking Rain',
						'flavor': 'Natural',
						'img_url': 'assets/images/talkingrain_natural.jpg',
						'ngram_start': 'natural ',
						'ngram_mid': 'natural',
						'ngram_end': 'ain natural',
						'sweetness': 1
					},
					{
						'id': 18,
						'name': 'Talking Rain',
						'flavor': 'Peach Nectarine',
						'img_url': 'assets/images/talkingrain_natural.jpg',
						'ngram_start': 'peach ',
						'ngram_mid': 'peach',
						'ngram_end': 'each nectarine',
						'sweetness': 1
					},
					{
						'id': 19,
						'name': 'Talking Rain',
						'flavor': 'Mango Peach',
						'img_url': 'assets/images/talkingrain_natural.jpg',
						'ngram_start': 'mango ',
						'ngram_mid': 'mango',
						'ngram_end': 'ango peach',
						'sweetness': 1
					},
					{
						'id': 20,
						'name': 'Welch\'s',
						'flavor': 'Apple Juice',
						'img_url': 'assets/images/welch_apple.jpg',
						'ngram_start': 'apple',
						'ngram_mid': 'app',
						'ngram_end': 'e juice',
						'sweetness': 3
					},
					{
						'id': 21,
						'name': 'Welch\'s',
						'flavor': 'Cranberry Juice',
						'img_url': 'assets/images/welch_cranberry.jpg',
						'ngram_start': 'cran',
						'ngram_mid': 'cran',
						'ngram_end': 'berry',
						'sweetness': 3
					},
					{
						'id': 22,
						'name': 'Welch\'s',
						'flavor': 'Grape Juice',
						'img_url': 'assets/images/welch_grape.jpg',
						'ngram_start': 'grape',
						'ngram_mid': 'grape',
						'ngram_end': 'ape juice',
						'sweetness': 3
					},
					{
						'id': 23,
						'name': 'Welch\'s',
						'flavor': 'Orange Juice',
						'img_url': 'assets/images/welch_orange.jpg',
						'ngram_start': 'orange',
						'ngram_mid': 'orange',
						'ngram_end': 'ange juice',
						'sweetness': 3
					}
				];
				
				var available_name_prefixes = [					
					'diet',
					' \'oh yeah!\'',
					'sparkling'
				];
				
				var available_name_postfixes = [
					'baja blast',
					'code red',
					'max',
					'punch',
					'twist',
					'zero'
				];
			
				$scope.formatSweetness = function(sweetness) {
					if (sweetness <= 1.3) {
						return "A little sweet";
					}
					else if (sweetness <= 2.3) {
						return "Quite sweet";
					}
					
					return "Very sweet";
				}
			
				$scope.name = "";
				$scope.sweetness = 0;
				$scope.slots = [];
				$scope.share = "";
			  
				function generateName() {
					var slotCount = $scope.slots.length;
					var name = "";
										
					if (Math.random() < 0.08) {
						name += available_name_prefixes[Math.floor((Math.random() * available_name_prefixes.length))] + " ";
					}
					
					var shareBody = "";
					var totalSweetness = 0;
					for (var i = 0; i < slotCount; i++) {
						if (i == 0) {
							name += $scope.slots[i].ngram_start;
						}
						else if (i == slotCount-1) {
							name += $scope.slots[i].ngram_end;
						}
						else {
							name += $scope.slots[i].ngram_mid;
						}
						
						totalSweetness += $scope.slots[i].sweetness;
						shareBody += $scope.slots[i].name + " " + $scope.slots[i].flavor + ", %0D";
					}
					
					if (Math.random() < 0.2) {
						name += " " + available_name_postfixes[Math.floor((Math.random() * available_name_postfixes.length))];
					}
					
					$scope.name = name;
					$scope.sweetness = totalSweetness / $scope.slots.length;
					$scope.share = "mailto:?subject=Mocktail " + name + "&body=" + name + ".%0D%0D" + shareBody + "%0D%0D" + document.URL;
				}
			  
				function addSlot() {
					if(available_options.length == 0) { return; }
					available_options.reverse();
					available_options.sort(bogoSort);
					var randomIndex = Math.floor(Math.random() * (available_options.length));
		 			var randomOption = available_options[randomIndex];
					available_options.remove(randomIndex);
					$scope.slots.push(randomOption);
				};
								
				function removeSlot() {
					if($scope.slots.length == 0) { return; }
					var availableOption = $scope.slots.pop();
					available_options.push(availableOption);
				};
								
				$scope.addSlot = function() {
					if(available_options.length == 0) { return; }
					addSlot();
					$scope.resetSlots();
					generateName();
				};
				
				$scope.removeSlot = function() {
					if($scope.slots.length == 1) { return; }
					removeSlot();
					$scope.resetSlots();
					generateName();
				};
				
				$scope.resetSlots = function() {
					var slotCount = $scope.slots.length;
					for (var i = 0; i < slotCount; i++)
					{
						removeSlot();
					}
					
					for (var i = 0; i < slotCount; i++)
					{
						addSlot();
					}
					
					generateName();
				};
				
				$scope.addSlot();
				$scope.addSlot();
				$scope.addSlot();
			});
		</script>
		
		<script src="http://ajax.aspnetcdn.com/ajax/bootstrap/3.1.1/bootstrap.min.js"></script>
	</head>
	<body ng-controller="SlotsCtrl">
		<div>
			<center>
				<img src="assets/images/crunk_berry.jpg" height="220">
				<h1>MOCKTAIL {{slots.length}}000</h1>
				<br />
				
				<button type="button" class="btn btn-default btn-success btn-lg" ng-click="addSlot()" style="margin-bottom: 4px">SLOTS SLOTS SLOTS EVERYBODY &uarr;</button>
				<button type="button" class="btn btn-default btn-danger btn-lg" ng-click="removeSlot()" style="margin-bottom: 4px">TURN DOWN FOR WHAT &darr;</button>				
				<br />
				<br />
				<button type="button" class="btn btn-default btn-primary btn-lg" ng-click="resetSlots()">&diams;&diams;&diams; YEAH! WHAT? OKAY &diams;&diams;&diams;</button>
				<br />
				<br />
				<h2 style="text-transform:uppercase;word-wrap:break-word;">&quot;{{name}}&quot;</h2>
				<i>{{formatSweetness(sweetness)}}</i>
				<br />
				<br />
			</center>
			
			<div class="row">
				<table class="table">
					<tr ng-repeat="slot in slots">
						<td align="center">
							<img ng-src="{{slot.img_url}}" alt="{{slot.name}}" class="img-slot">
						</td>
						<td>
							<h3><b>{{slot.name}}</b> {{slot.flavor}}</h3>
							<i>{{formatSweetness(slot.sweetness)}}</i>
						</td>
					</tr>
				</table>
			</div>
			
			<center>			
				<a ng-href="{{share}}" class="btn btn-default btn-lg">&hearts;&hearts;&hearts; COME GET SOME &hearts;&hearts;&hearts;</a>
				<br />
				<img src="assets/images/qr.png" alt="QR code" width="300">
			</center>
		</div>
				
		<footer style="width: 100%;">
			<div class="pull-left" style="background-color: #FFFFFF">
				&copy; 2014 <a href="http://joshjcarrier.com">Josh Carrier</a>. Fork on <a href="https://github.com/joshjcarrier/mocktail">GitHub</a>.
				<small>Lil Jon and product images copyright their respective owners. Made possible with <a href="http://angularjs.org/">AngularJS</a> and <a href="http://getbootstrap.com/">Bootstrap</a> &middot; <a href="license-ext.txt">Open source licenses</a>.</small>
			</div>
		</footer>
	</body>
</html>