<!DOCTYPE html>
<html lang="en" ng-app="mocktailApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<link rel="icon" type="image/x-icon" href="favicon.ico" />
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
		<meta name="description" content="Mocktail Generator">
		<meta name="author" content="Josh Carrier">
		<base target="_blank">
		<meta name="expires" content="0">
		
		<title>Mocktail Generator</title>
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<style>
			body {
				padding-left: 20px;
				padding-top: 20px;				
				padding-right: 20px;
			}
			
			img.img-slot {
				height: 100px;
			}
			
			@media (min-width: 768px) {
				h1 {
					font-size: 72px;
				}
				
				img.img-slot {
					height: 200px;
				}
			}
		</style>
				
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
		
		<script>
			// Array Remove - By John Resig (MIT Licensed)
			Array.prototype.remove = function(from, to) {
			  var rest = this.slice((to || from) + 1 || this.length);
			  this.length = from < 0 ? this.length + from : from;
			  return this.push.apply(this, rest);
			};
			
			function bogoSort()
			{
				return Math.floor(Math.random() * 0.5); 
			}
			
			var mocktailApp = angular.module('mocktailApp', []);
			 
			mocktailApp.controller('SlotsCtrl', function ($scope) {
				var available_options = [
					{
						'name': 'Coca Cola',
						'flavor': '',
						'img_url': 'assets/images/cocacola.jpg',
						'sweetness': 2
					},
					{
						'name': 'Dr. Pepper',
						'flavor': '',
						'img_url': 'assets/images/drpepper.jpg',
						'sweetness': 3
					},
					{
						'name': 'Fresca',
						'flavor': 'Citrus',
						'img_url': 'assets/images/fresca_citrus.jpg',
						'sweetness': 2
					},
					{
						'name': 'Fusion',
						'flavor': 'Lemon Lime',
						'img_url': 'assets/images/talkingrain_natural.jpg',
						'sweetness': 2
					},
					{
						'name': 'Fusion',
						'flavor': 'Pomegranate',
						'img_url': 'assets/images/talkingrain_natural.jpg',
						'sweetness': 2
					},
					{
						'name': 'Fuze',
						'flavor': 'Lemon Iced Tea',
						'img_url': 'assets/images/fuze_lemon.jpg',
						'sweetness': 2
					},
					{
						'name': 'Minute Maid',
						'flavor': 'Lemonade',
						'img_url': 'assets/images/minutemaid_lemonade.jpg',
						'sweetness': 2
					},
					{
						'name': 'Mountain Dew',
						'flavor': '',
						'img_url': 'assets/images/mountaindew.jpg',
						'sweetness': 3
					},
					{
						'name': 'Mug',
						'flavor': 'Root Beer',
						'img_url': 'assets/images/mug.jpg',
						'sweetness': 3
					},
					{
						'name': 'Ocean Spray',
						'flavor': 'Grapefruit',
						'img_url': 'assets/images/oceanspray_grapefruit.jpg',
						'sweetness': 3
					},										
					{
						'name': 'Orange Crush',
						'flavor': '',
						'img_url': 'assets/images/orangecrush.jpg',
						'sweetness': 3
					},
					{
						'name': 'Pepsi',
						'flavor': '',
						'img_url': 'assets/images/pepsi.jpg',
						'sweetness': 2
					},
					{
						'name': 'Seagram\'s Ginger Ale',
						'flavor': 'Ginger Ale',
						'img_url': 'assets/images/seagrams_gingerale.jpg',
						'sweetness': 2
					},
					{
						'name': 'Sprite',
						'flavor': '',
						'img_url': 'assets/images/sprite.jpg',
						'sweetness': 2
					},
					{
						'name': 'Talking Rain',
						'flavor': 'Black Raspberry',
						'img_url': 'assets/images/talkingrain_natural.jpg',
						'sweetness': 1
					},
					{
						'name': 'Talking Rain',
						'flavor': 'Lemon Lime',
						'img_url': 'assets/images/talkingrain_lemonlime.jpg',
					},
					{
						'name': 'Talking Rain',
						'flavor': 'Natural',
						'img_url': 'assets/images/talkingrain_natural.jpg',
						'sweetness': 1
					},
					{
						'name': 'Talking Rain',
						'flavor': 'Peach Nectarine',
						'img_url': 'assets/images/talkingrain_natural.jpg',
						'sweetness': 1
					},
					{
						'name': 'Talking Rain',
						'flavor': 'Mango Peach',
						'img_url': 'assets/images/talkingrain_natural.jpg',
						'sweetness': 1
					},
					{
						'name': 'Welch\'s',
						'flavor': 'Apple Juice',
						'img_url': 'assets/images/welch_apple.jpg',
						'sweetness': 3
					},
					{
						'name': 'Welch\'s',
						'flavor': 'Cranberry Juice',
						'img_url': 'assets/images/welch_cranberry.jpg',
						'sweetness': 3
					},
					{
						'name': 'Welch\'s',
						'flavor': 'Grape Juice',
						'img_url': 'assets/images/welch_grape.jpg',
						'sweetness': 3
					},
					{
						'name': 'Welch\'s',
						'flavor': 'Orange Juice',
						'img_url': 'assets/images/welch_orange.jpg',
						'sweetness': 3
					}
				];
			
				$scope.formatSweetness = function(sweetness) {
					if (sweetness <= 1) {
						return "A little sweet";
					}
					else if (sweetness <= 2) {
						return "Quite sweet";
					}
					
					return "Very sweet";
				}
			
				$scope.slots = [];
			  
				function addSlot() {
					if(available_options.length == 0) { return; }
					available_options.reverse();
					available_options.sort(bogoSort);
					var randomIndex = Math.floor(Math.random() * (available_options.length));
		 			var randomOption = available_options[randomIndex];
					available_options.remove(randomIndex);
					$scope.slots.push(randomOption);
				};
								
				function removeSlot() {
					if($scope.slots.length == 0) { return; }
					var availableOption = $scope.slots.pop();
					available_options.push(availableOption);
				};
								
				$scope.addSlot = function() {
					if(available_options.length == 0) { return; }
					addSlot();
					$scope.resetSlots();
				};
				
				$scope.removeSlot = function() {
					if($scope.slots.length == 1) { return; }
					removeSlot();
					$scope.resetSlots();
				};
				
				$scope.resetSlots = function() {
					var slotCount = $scope.slots.length;
					for (var i = 0; i < slotCount; i++)
					{
						removeSlot();
					}
					
					for (var i = 0; i < slotCount; i++)
					{
						addSlot();
					}
				};
				
				$scope.addSlot();
				$scope.addSlot();
				$scope.addSlot();
			});
		</script>
	</head>
	<body ng-controller="SlotsCtrl">
		<div>
			<center>
				<img src="assets/images/crunk_berry.jpg" height="220">
				<h1>MOCKTAIL {{slots.length}}000</h1>
				<br />
				
				<button type="button" class="btn btn-default btn-success btn-lg" ng-click="addSlot()" style="margin-bottom: 4px">&uarr; SLOTS SLOTS SLOTS EVERYBODY &uarr;</button>
				<button type="button" class="btn btn-default btn-danger btn-lg" ng-click="removeSlot()" style="margin-bottom: 4px">&darr; TURN DOWN FOR WHAT &darr;</button>				
				<br />
				<br />
				<button type="button" class="btn btn-default btn-primary btn-lg" ng-click="resetSlots()">&diams;&diams;&diams; YEAH! WHAT? OKAY &diams;&diams;&diams;</button>
				<br />
				<br />
			</center>
			
			<div class="row">
				<table class="table">
					<tr ng-repeat="slot in slots">
						<td align="center">
							<img src="{{slot.img_url}}" alt="{{slot.name}}" class="img-slot">
						</td>
						<td>
							<h3><b>{{slot.name}}</b> {{slot.flavor}}</h3>
							<i>{{formatSweetness(slot.sweetness)}}</i>
						</td>
					</tr>
				</table>
			</div>
			
			<center>	
				<img src="assets/images/qr.png" alt="QR code" width="300">
			</center>
		</div>
		
		<script src="http://ajax.aspnetcdn.com/ajax/bootstrap/3.1.1/bootstrap.min.js"></script>
		
		<footer style="width: 100%;">
			<div class="pull-left" style="background-color: #FFFFFF">
				&copy; 2014 <a href="http://joshjcarrier.com">Josh Carrier</a>. Fork on <a href="https://github.com/joshjcarrier/mocktail">GitHub</a>.
				<small>Lil Jon and product images copyright their respective owners. Made possible with <a href="http://angularjs.org/">AngularJS</a> and <a href="http://getbootstrap.com/">Bootstrap</a> &middot; <a href="license-ext.txt">Open source licenses</a>.</small>
			</div>
		</footer>
	</body>
</html>